.*.swp
.build_status
message.xml
.run_manager.ini
automake.log
backup
backup/ts7500_opencore.srr
dm/*
hdla_gen_hierarchy.html
physical_plus/*
reportview.xml
run_options.txt
scratchproject.prs
stdout.log
synlog/*
synlog.tcl
syntmp/*
synwork/*
ts7500_opencore.alt
ts7500_opencore.areasrr
ts7500_opencore.bgn
ts7500_opencore.dir/*
ts7500_opencore.drc
ts7500_opencore.edi
ts7500_opencore.fse
ts7500_opencore.htm
ts7500_opencore.jed
ts7500_opencore.log
ts7500_opencore.mrp
ts7500_opencore.ncd
ts7500_opencore.ngd
ts7500_opencore.ngo
ts7500_opencore.p2t
ts7500_opencore.p3t
ts7500_opencore.pad
ts7500_opencore.par
ts7500_opencore.prf
ts7500_opencore.pt
ts7500_opencore.srd
ts7500_opencore.srf
ts7500_opencore.srm
ts7500_opencore.srr
ts7500_opencore.srs
ts7500_opencore.t2b
ts7500_opencore_bgn.html
ts7500_opencore_map.asd
ts7500_opencore_map.cam
ts7500_opencore_map.hrr
ts7500_opencore_map.ncd
ts7500_opencore_mrp.html
ts7500_opencore_ngd.asd
ts7500_opencore_pad.html
ts7500_opencore_par.html
ts7500_opencore_scck.rpt
ts7500_opencore_summary.html
ts7500_opencore_syn.sdc
ts7500_opencore_synplify.html
ts7500_opencore_synplify.lpf
ts7500_opencore_synplify.tcl
ts7500_tcl.html
ts7500_tcr.dir
ts7500_tcr.dir/pn160313003915.tcr
ts7500strategy.sty
