COMMERCIAL ;
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF ALLPORTS IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST ;
LOCATE COMP "cpu_uart_rxd_pad" SITE "13" ;
LOCATE COMP "fpga_25mhz_pad" SITE "144" ;
LOCATE COMP "gpio_a0_pad" SITE "39" ;
LOCATE COMP "gpio_a1_pad" SITE "137" ;
LOCATE COMP "rtc_int1_pad" SITE "138" ;
LOCATE COMP "cpu_clkout_pad" SITE "71" ;
LOCATE COMP "clk_32khz_pad" SITE "122" ;
LOCATE COMP "cpu_uart_txd_pad" SITE "37" ;
LOCATE COMP "en_sd_power_pad" SITE "102" ;
LOCATE COMP "eth_left_ledn_pad" SITE "132" ;
LOCATE COMP "eth_right_ledn_pad" SITE "73" ;
LOCATE COMP "green_led_pad" SITE "131" ;
LOCATE COMP "red_led_pad" SITE "47" ;
LOCATE COMP "rtc_scl_pad" SITE "127" ;
LOCATE COMP "sd_clk_pad" SITE "20" ;
LOCATE COMP "spi_clk_pad" SITE "28" ;
LOCATE COMP "spi_miso_pad" SITE "30" ;
LOCATE COMP "spi_mosi_pad" SITE "15" ;
LOCATE COMP "un_reset_pad" SITE "29" ;
LOCATE COMP "dio_pad_5" SITE "87" ;
LOCATE COMP "dio_pad_6" SITE "96" ;
LOCATE COMP "gpio_a13_pad" SITE "61" ;
LOCATE COMP "gpio_a14_pad" SITE "2" ;
LOCATE COMP "gpio_a15_pad" SITE "27" ;
LOCATE COMP "gpio_a16_pad" SITE "38" ;
LOCATE COMP "gpio_a17_pad" SITE "40" ;
LOCATE COMP "gpio_a22_pad" SITE "7" ;
LOCATE COMP "gpio_a23_pad" SITE "9" ;
LOCATE COMP "gpio_a28_pad" SITE "78" ;
LOCATE COMP "gpio_a29_pad" SITE "17" ;
LOCATE COMP "gpio_a3_pad" SITE "32" ;
LOCATE COMP "int28_pad" SITE "90" ;
LOCATE COMP "rtc_sda_pad" SITE "92" ;
LOCATE COMP "sd_cmd_pad" SITE "21" ;
LOCATE COMP "sd_d0_pad" SITE "19" ;
LOCATE COMP "sd_d1_pad" SITE "18" ;
LOCATE COMP "sd_d2_pad" SITE "35" ;
LOCATE COMP "sd_d3_pad" SITE "22" ;
LOCATE COMP "wd_resetn_pad" SITE "129" ;
IOBUF PORT "cpu_uart_rxd_pad" IO_TYPE=LVCMOS33 SLEWRATE=FAST PULLMODE=NONE ;
IOBUF PORT "fpga_25mhz_pad" IO_TYPE=LVCMOS33 SLEWRATE=FAST PULLMODE=NONE ;
IOBUF PORT "dio_pad_10" IO_TYPE=LVCMOS33 PULLMODE=UP SLEWRATE=SLOW PCICLAMP=ON ;
IOBUF PORT "dio_pad_11" IO_TYPE=LVCMOS33 PULLMODE=UP SLEWRATE=FAST ;
IOBUF PORT "dio_pad_12" IO_TYPE=LVCMOS33 PULLMODE=UP SLEWRATE=SLOW ;
IOBUF PORT "dio_pad_13" IO_TYPE=LVCMOS33 PULLMODE=UP SLEWRATE=FAST PCICLAMP=ON ;
IOBUF PORT "dio_pad_14" IO_TYPE=LVCMOS33 PULLMODE=UP SLEWRATE=FAST PCICLAMP=ON ;
IOBUF PORT "dio_pad_15" IO_TYPE=LVCMOS33 PULLMODE=UP SLEWRATE=SLOW PCICLAMP=ON ;
IOBUF PORT "dio_pad_16" IO_TYPE=LVCMOS33 PULLMODE=UP SLEWRATE=SLOW PCICLAMP=ON ;
IOBUF PORT "dio_pad_17" IO_TYPE=LVCMOS33 PULLMODE=UP SLEWRATE=SLOW PCICLAMP=ON ;
IOBUF PORT "dio_pad_18" IO_TYPE=LVCMOS33 PULLMODE=UP SLEWRATE=SLOW PCICLAMP=ON ;
IOBUF PORT "dio_pad_19" IO_TYPE=LVCMOS33 PULLMODE=UP SLEWRATE=SLOW ;
IOBUF PORT "dio_pad_20" IO_TYPE=LVCMOS33 PULLMODE=UP SLEWRATE=SLOW PCICLAMP=ON ;
IOBUF PORT "dio_pad_21" IO_TYPE=LVCMOS33 PULLMODE=UP SLEWRATE=SLOW ;
IOBUF PORT "dio_pad_22" IO_TYPE=LVCMOS33 PULLMODE=UP SLEWRATE=SLOW ;
IOBUF PORT "dio_pad_23" IO_TYPE=LVCMOS33 PULLMODE=UP SLEWRATE=SLOW ;
IOBUF PORT "dio_pad_24" IO_TYPE=LVCMOS33 PULLMODE=UP SLEWRATE=SLOW ;
IOBUF PORT "dio_pad_25" IO_TYPE=LVCMOS33 PULLMODE=UP SLEWRATE=SLOW PCICLAMP=ON ;
IOBUF PORT "dio_pad_26" IO_TYPE=LVCMOS33 PULLMODE=UP SLEWRATE=SLOW PCICLAMP=ON ;
IOBUF PORT "dio_pad_5" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=SLOW ;
IOBUF PORT "dio_pad_6" IO_TYPE=LVCMOS33 PULLMODE=UP SLEWRATE=SLOW ;
IOBUF PORT "dio_pad_7" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=SLOW ;
IOBUF PORT "dio_pad_8" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=SLOW ;
IOBUF PORT "dio_pad_9" IO_TYPE=LVCMOS33 PULLMODE=UP SLEWRATE=SLOW ;
IOBUF PORT "gpio_a15_pad" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "gpio_a16_pad" IO_TYPE=LVCMOS33 PULLMODE=NONE PCICLAMP=ON ;
IOBUF PORT "gpio_a17_pad" IO_TYPE=LVCMOS33 PULLMODE=NONE PCICLAMP=ON ;
IOBUF PORT "gpio_a22_pad" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "gpio_a23_pad" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "gpio_a28_pad" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "gpio_a3_pad" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "rtc_sda_pad" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=SLOW ;
IOBUF PORT "wd_resetn_pad" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=SLOW ;
INPUT_SETUP PORT "spi_mosi_pad" 3.000000 ns HOLD 3.000000 ns CLKPORT "spi_clk_pad" ;
IOBUF PORT "gpio_a0_pad" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST ;
IOBUF PORT "gpio_a1_pad" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST ;
IOBUF PORT "spi_clk_pad" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST ;
IOBUF PORT "spi_mosi_pad" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST ;
IOBUF PORT "cpu_uart_txd_pad" IO_TYPE=LVCMOS33 PULLMODE=NONE PCICLAMP=ON ;
IOBUF PORT "en_sd_power_pad" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=SLOW ;
IOBUF PORT "eth_left_ledn_pad" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=SLOW ;
IOBUF PORT "eth_right_ledn_pad" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=SLOW ;
IOBUF PORT "green_led_pad" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=SLOW ;
IOBUF PORT "red_led_pad" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=SLOW ;
IOBUF PORT "rtc_scl_pad" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=SLOW ;
IOBUF PORT "spi_miso_pad" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=SLOW ;
IOBUF PORT "un_reset_pad" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=SLOW ;
USERCODE ASCII "TS" ; 
SYSCONFIG DONE_OD=ON DONE_EX=OFF CONFIG_SECURE=ON WAKE_UP=21 WAKE_ON_LOCK=OFF INBUF=OFF MASTER_SPI_PORT=DISABLE SLAVE_SPI_PORT=DISABLE MY_ASSP=OFF ONE_TIME_PROGRAM=OFF ;
BLOCK JTAGPATHS ;
IOBUF PORT "sd_clk_pad" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST DRIVE=20 ;
IOBUF PORT "sd_cmd_pad" IO_TYPE=LVCMOS33 PULLMODE=UP SLEWRATE=FAST DRIVE=12 ;
IOBUF PORT "sd_d0_pad" IO_TYPE=LVCMOS33 PULLMODE=UP SLEWRATE=FAST DRIVE=12 ;
IOBUF PORT "sd_d1_pad" IO_TYPE=LVCMOS33 PULLMODE=UP SLEWRATE=FAST DRIVE=12 ;
IOBUF PORT "sd_d2_pad" IO_TYPE=LVCMOS33 PULLMODE=UP SLEWRATE=FAST DRIVE=12 ;
IOBUF PORT "sd_d3_pad" IO_TYPE=LVCMOS33 PULLMODE=UP SLEWRATE=FAST DRIVE=12 ;
OUTPUT PORT "sd_cmd_pad" LOAD 10.000000 pF ;
OUTPUT PORT "sd_d0_pad" LOAD 10.000000 pF ;
OUTPUT PORT "sd_d1_pad" LOAD 10.000000 pF ;
OUTPUT PORT "sd_d2_pad" LOAD 10.000000 pF ;
OUTPUT PORT "sd_d3_pad" LOAD 10.000000 pF ;
OUTPUT PORT "sd_clk_pad" LOAD 10.000000 pF ;
DEFINE PORT GROUP "sdcard_databus" "sd_cmd_pad" 
"sd_d0_pad" 
"sd_d1_pad" 
"sd_d2_pad" 
"sd_d3_pad" ;
INPUT_SETUP GROUP "sdcard_databus"1.500000 ns HOLD 4.500000 ns CLKNET "pll_75mhz_c" ;
CLOCK_TO_OUT PORT "sd_clk_pad" 8.000000 ns CLKNET "pll_75mhz_c" ;
CLOCK_TO_OUT GROUP "sdcard_databus" 8.000000 ns CLKNET "pll_75mhz_c" ;
BLOCK INTERCLOCKDOMAIN PATHS ;
BLOCK RD_DURING_WR_PATHS ;
LOCATE COMP "flash_miso_pad" SITE "31" ;
LOCATE COMP "flash_clk_pad" SITE "124" ;
LOCATE COMP "flash_mosi_pad" SITE "52" ;
LOCATE COMP "ser_flash_cs_padn" SITE "6" ;
LOCATE COMP "ser_flash_wp_padn" SITE "44" ;
MAXDELAY FROM PORT "gpio_a22_pad" TO PORT "spi_miso_pad" 30.000000 ns ;
MAXDELAY FROM PORT "gpio_a23_pad" TO PORT "spi_miso_pad" 30.000000 ns ;
IOBUF PORT "ser_flash_cs_padn" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST ;
CLOCK_TO_OUT PORT "flash_mosi_pad" 15.000000 ns MIN 2.000000 ns CLKNET "pll_75mhz_c" ;
LOCATE COMP "dio_pad_7" SITE "88" ;
LOCATE COMP "dio_pad_8" SITE "74" ;
LOCATE COMP "dio_pad_9" SITE "91" ;
LOCATE COMP "dio_pad_11" SITE "93" ;
LOCATE COMP "dio_pad_12" SITE "99" ;
LOCATE COMP "dio_pad_13" SITE "58" ;
LOCATE COMP "dio_pad_14" SITE "133" ;
LOCATE COMP "dio_pad_19" SITE "104" ;
LOCATE COMP "dio_pad_20" SITE "143" ;
LOCATE COMP "dio_pad_21" SITE "100" ;
LOCATE COMP "dio_pad_22" SITE "101" ;
LOCATE COMP "dio_pad_23" SITE "103" ;
LOCATE COMP "dio_pad_24" SITE "107" ;
LOCATE COMP "dio_pad_25" SITE "109" ;
LOCATE COMP "dio_pad_26" SITE "110" ;
LOCATE COMP "dio_pad_27" SITE "108" ;
LOCATE COMP "dio_pad_28" SITE "113" ;
LOCATE COMP "dio_pad_29" SITE "114" ;
LOCATE COMP "dio_pad_30" SITE "115" ;
LOCATE COMP "dio_pad_31" SITE "116" ;
LOCATE COMP "dio_pad_32" SITE "119" ;
LOCATE COMP "dio_pad_33" SITE "120" ;
LOCATE COMP "dio_pad_34" SITE "62" ;
LOCATE COMP "dio_pad_35" SITE "121" ;
LOCATE COMP "dio_pad_36" SITE "77" ;
LOCATE COMP "dio_pad_37" SITE "89" ;
LOCATE COMP "dio_pad_38" SITE "70" ;
LOCATE COMP "dio_pad_39" SITE "69" ;
LOCATE COMP "dio_pad_40" SITE "134" ;
IOBUF PORT "dio_pad_27" IO_TYPE=LVCMOS33 PULLMODE=UP SLEWRATE=SLOW ;
IOBUF PORT "dio_pad_28" IO_TYPE=LVCMOS33 PULLMODE=UP SLEWRATE=SLOW PCICLAMP=ON ;
IOBUF PORT "dio_pad_29" IO_TYPE=LVCMOS33 PULLMODE=UP SLEWRATE=SLOW PCICLAMP=ON ;
IOBUF PORT "dio_pad_30" IO_TYPE=LVCMOS33 PULLMODE=UP SLEWRATE=SLOW PCICLAMP=ON ;
IOBUF PORT "dio_pad_31" IO_TYPE=LVCMOS33 PULLMODE=UP SLEWRATE=SLOW PCICLAMP=ON ;
IOBUF PORT "dio_pad_32" IO_TYPE=LVCMOS33 PULLMODE=UP SLEWRATE=SLOW PCICLAMP=ON ;
IOBUF PORT "dio_pad_33" IO_TYPE=LVCMOS33 PULLMODE=UP SLEWRATE=SLOW PCICLAMP=ON ;
IOBUF PORT "dio_pad_34" IO_TYPE=LVCMOS33 PULLMODE=UP SLEWRATE=SLOW PCICLAMP=ON ;
IOBUF PORT "dio_pad_35" IO_TYPE=LVCMOS33 PULLMODE=UP SLEWRATE=SLOW PCICLAMP=ON ;
IOBUF PORT "dio_pad_36" IO_TYPE=LVCMOS33 PULLMODE=UP SLEWRATE=SLOW ;
IOBUF PORT "dio_pad_37" IO_TYPE=LVCMOS33 PULLMODE=UP SLEWRATE=SLOW ;
IOBUF PORT "dio_pad_38" IO_TYPE=LVCMOS33 PULLMODE=UP SLEWRATE=SLOW ;
IOBUF PORT "dio_pad_39" IO_TYPE=LVCMOS33 PULLMODE=UP SLEWRATE=SLOW ;
IOBUF PORT "dio_pad_40" IO_TYPE=LVCMOS33 PULLMODE=UP SLEWRATE=SLOW ;
IOBUF PORT "dio_pad_2" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST ;
IOBUF PORT "flash_miso_pad" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST ;
FREQUENCY NET "clk_24mhz_keep" 25 MHz PAR_ADJ 5;
FREQUENCY NET "pll_75mhz_c" 75 Mhz PAR_ADJ 7;
FREQUENCY NET "pll_100mhz_keep" 100.0 MHz PAR_ADJ 10;
FREQUENCY NET "sysconcore/internal_osc" 5.0 MHz;
FREQUENCY PORT "spi_clk_pad" 50.0 MHz PAR_ADJ 13;
FREQUENCY NET "clkgen/CLKOP_keep" 75.0 MHz PAR_ADJ 7;

USE DOUT CELL "sdcardcore/sd_oclk_0" ;
USE DIN CELL "sdcardcore/sd_dat_i_q_0" ;
USE DIN CELL "sdcardcore/sd_dat_i_q_1" ;
USE DIN CELL "sdcardcore/sd_dat_i_q_2" ;
USE DIN CELL "sdcardcore/sd_dat_i_q_3" ;
USE DIN CELL "sdcardcore/sd_cmd_i_q" ;
USE DOUT FALSE CELL "sdcardcore/sd_dat_0" ;
USE DOUT FALSE CELL "sdcardcore/sd_dat_1" ;
USE DOUT FALSE CELL "sdcardcore/sd_dat_2" ;
USE DOUT FALSE CELL "sdcardcore/sd_dat_3" ;
USE DOUT FALSE CELL "sdcardcore/sd_cmd" ;

